<div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <h1 class="managerTitle">Lokalizacje</h1>
      </div>
      <div class="col-2">
          <button type="button" class="managerButtonLogout">Wyloguj</button>
      </div>
    </div>
   
  
    <div class="row">
      <div class="col-4">
        <a href="#" class="managerButton">L1</a>
      </div>
      <div class="col-4">
        <a href="#" class="managerButton">L2</a>
      </div>
      <div class="col-4">
          <a href="#" class="managerButton">L3</a>
        </div>
    </div>
  
    <div class="row">
        <div class="col-4">
          <a href="#" class="managerButton">L4</a>
        </div>
        <div class="col-4">
          <a href="#" class="managerButton">L5</a>
        </div>
        <div class="col-4">
            <a href="#" class="managerButton">L6</a>
          </div>
      </div>
      
  </div>