<div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <h1 class="managerTitle">Lokalizacje</h1>
      </div>
      <div class="col-2">
          <button type="button" routerLink="/login" class="managerButtonLogout">Wyloguj</button>
      </div>
    </div>
   
  
    <div class="row">
      <div class="col-4">
        <a routerLink="/waiter-table/L1" class="managerButton">L1</a>
      </div>
      <div class="col-4">
        <a routerLink="/waiter-table/L2" class="managerButton">L2</a>
      </div>
      <div class="col-4">
          <a routerLink="/waiter-table/L3"class="managerButton">L3</a>
        </div>
    </div>
  
    <div class="row">
        <div class="col-4">
          <a routerLink="/waiter-table/L4" class="managerButton">L4</a>
        </div>
        <div class="col-4">
          <a routerLink="/waiter-table/L5" class="managerButton">L5</a>
        </div>
        <div class="col-4">
            <a routerLink="/waiter-table/L6" class="managerButton">L6</a>
          </div>
      </div>
      
  </div>