<body>
  <div class="row">
    <h1 class="restaurantName">Restauracja "Dwa Konie"</h1>

    <div class="container">
      <section id="content">
        <form action="">
          <h1>Logowanie</h1>
          <div>
            <input type="text" placeholder="Login" required="" id="username" />
          </div>
          <div>
            <input type="password" placeholder="Hasło" required="" id="password" />
          </div>
          <div>
            <input type="submit" value="Log in" />
          </div>
        </form><!-- form -->
      </section><!-- content -->
    </div><!-- container -->
  </div>
</body>