<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <h1 class="managerTitle">Manager</h1>
    </div>
    <div class="col-2">
        <button (click) = "logout()" class="managerButtonLogout">Wyloguj</button>
         <!-- <input type="submit" value="Log in" /> -->
    </div>
  </div>
 

  <div class="row">
    <div class="col-6">
      <button (click) = "redirectTo('manager/report')" class="managerButton">Raporty</button>
    </div>
    <div class="col-6">
      <button (click) = "redirectTo('manager/mgmnt')" class="managerButton">Zarządzanie stolikami</button>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
        <button (click) = "redirectTo('manager/feedback')" class="managerButton">Informacja zwrotna</button>
    </div>
    <div class="col-6">
      <button (click) = "redirectTo('manager/menu')" class="managerButton">Menu</button>
    </div>
  </div>
  
</div>