<div class="container">
  <div class="row">
    <div class="col-2">
      <button (click)="goBack()" class="managerButtonMain">Wróć</button>
    </div>
    <div class="col-8">
      <h1 class="managerTitle">Wybierz lokalizację</h1>
    </div>
    <div class="col-2">
      <button (click)="logOut()" class="managerButtonMain">Wyloguj</button>
    </div>
  </div>


  <div class="row">
    <div class="col-4">
      <a routerLink="/manager/mngmt/location/L1" class="managerButton">L1</a>
    </div>
    <div class="col-4">
      <a routerLink="/manager/mngmt/location/L2" class="managerButton">L2</a>
    </div>
    <div class="col-4">
      <a routerLink="/manager/mngmt/location/L3" class="managerButton">L3</a>
    </div>
  </div> 

  <div class="row">
    <div class="col-4">
      <a routerLink="/manager/mngmt/location/L4" class="managerButton">L4</a>
    </div>
    <div class="col-4">
      <a routerLink="/manager/mngmt/location/L5" class="managerButton">L5</a>
    </div>
    <div class="col-4">
      <a routerLink="/manager/mngmt/location/L6" class="managerButton">L6</a>
    </div>
  </div>
</div>