<div class="container">
    <div class="row">
      <div class="col-2">
        <button type="button" (click)="goBack()" class="managerButtonBack">Wróć</button>
      </div>
      <div class="col-8">
        <h1 class="managerTitle">Zamówienie</h1>
      </div>
      <div class="col-2">
        <button type="button" routerLink="/login" class="managerButtonLogout">Wyloguj</button>
      </div>
    </div>
    <br><br>
  
    <div class="row">
      <div class="col-md-6">
          <a (click)="addDanie()" class="managerButton">Dodaj</a>
      </div>
      <div class="col-md-6">
        <a (click)="openOrder()" class="managerButton">Zamówienie</a>
      </div>
    </div>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <a (click)="check()" class="managerButton">Rachunek</a>
        </div>
        <div class="col-md-3">
        </div>
    </div>
      
  
  </div>