<div class="container">
    <div class="row">
      <div class="col-2">
        <button (click)="goBack()" class="managerButtonBack">Wróć</button>
      </div>
      <div class="col-8">
        <h1 class="managerTitle">Lokalizacja 2</h1>
      </div>
      <div class="col-2">
        <button (click)="logOut()" class="managerButtonBack">Wyloguj</button>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <a (click)="alert()" class="managerButton">S1</a>
      </div>
      <div class="col-4">
        <a (click)="alert()" class="managerButton">S2</a>
      </div>
      <div (click)="alert()" class="col-4">
        <a class="managerButton">S3</a>
      </div>
    </div>
  
    <div class="row">
      <div class="col-4">
        <a (click)="alert()" class="managerButton">S4</a>
      </div>
      <div class="col-4">
        <button (click)="alert()" class="managerButton">S5</button>
      </div>
      <div class="col-4">
        <button (click)="alert()" class="managerButton">S6</button>
      </div>
    </div>
  </div>