<div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <h1 class="managerTitle">Dahboard</h1>
      </div>
      <div class="col-2">
          <button type="button" routerLink="/login" class="managerButtonLogout">Wyloguj</button>
      </div>
    </div>
   
  
    <div class="row">
      <div class="time" *ngFor="let order of showTime">
         <h4>Zamównenie {{order.id}}</h4>
         <ul>
          <li *ngFor="let skladnik of order.skaldniki" >{{skladnik}}
            <button  type="button" (click)="ready(order,skladnik)" class="btn btn-success">Gotowe</button>
          </li>
        </ul> 
        <button type="button" class="managerButton" (click)='danieReady(order)'>Danie gotowe</button>
      </div>
  </div>