<div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <h1 class="managerTitle">Dahboard</h1>
      </div>
      <div class="col-2">
          <button type="button" routerLink="/login" class="managerButtonLogout">Wyloguj</button>
      </div>
    </div>
   
  
    <div class="row">
      <div class="col-3 time">
        asdasd
      </div>
      <div class="col-1"></div>
      <div class="col-3 time">
        asdasdas
      </div>
      <div class="col-1"></div>
      <div class="col-3 time">
sadsad
      </div>
      <div class="col-1"></div>
    </div>
      
  </div>